spring:
  application:
    name: webshop
  profiles:
    active: default
  servlet:
    multipart:
      max-file-size: 1048576 # 1MB
  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true
  ai:
    ollama:
      base-url: ${OLLAMA_URL}
      chat:
        options:
          model: ${LLM_NAME}
          num-ctx: ${LLM_CONTEXT_WINDOW}
          num_predict: ${LLM_OUTPUT_TOKENS}
          temperature: ${LLM_TEMPERATURE}
    chat-memory:
      max-messages: ${CHAT_MEMORY_MAX_MESSAGES}

webshop:
  name: ${WEBSHOP_NAME}

  client-app:
    url: ${CLIENT_APP_URL}

  encryption:
    aes-secret-key: ${AES_SECRET_KEY}

  free-shipping:
    threshold: ${FREE_SHIPPING_THRESHOLD}

  image-uploads:
    allowed-file-extensions:
      - jpg
      - jpeg
      - png
      - bmp
    product-photos-directory: ${PRODUCT_PHOTOS_DIRECTORY}
    user-avatar-directory: ${USER_AVATAR_DIRECTORY}

  stripe:
    secret-key: ${STRIPE_SECRET_KEY}
    webhook-secret-key: ${STRIPE_WEBHOOK_SECRET_KEY}
    shipping-cost-id: ${STRIPE_SHIPPING_COST_ID}
    free-shipping-id: ${STRIPE_FREE_SHIPPING_ID}
